<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" preserve-order="true" parallel="classes" thread-count="3">
<!--   <listeners>
<listener class-name="com.test.automation.uiAutomation.customlistner.Listener"></listener>
</listeners>-->
<test name="ProductDetail">
<classes>
<class name="com.test.automation.uiAutomation.addtocart.TC001_Verifyfacebooklink"></class>
<class name ="com.test.automation.uiAutomation.productdetailspage.TC001_Selectproduct"></class>
</classes>
</test>
</suite>